<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>doctor's_data</title>
    <link rel ="stylesheet" href="doctor's_data.css">
  </head>
  <body>
    <div id="main_box_1">
      <div><figure>
  <img src="pa_1.jfif" alt="Trulli" style="width:200px;height:160px">
  <figcaption><b>ID :</b>300000<br>
              <b>NAME:</b>PRANAVI<br>
            <b>SPECIALIZATION:</b>dermatologist<br>
           <b>QUALIFICATION:</b>MBBS,MD</figcaption>
</figure></div>
<div><figure>
<img src="pa_2.jpg" alt="Trulli" style="width:200px;height:160px">
<figcaption><b>ID :</b>300001<br>
        <b>NAME:</b>ADAM<br>
      <b>SPECIALIZATION:</b>neurologist<br>
     <b>QUALIFICATION:</b>MBBS,MD,DM</figcaption>
</figure></div>
<div><figure>
<img src="pa_3.jfif" alt="Trulli" style="width:200px;height:160px">
<figcaption><b>ID :</b>300003<br>
        <b>NAME:</b>PRANAVI<br>
      <b>SPECIALIZATION:</b>Pediatrician<br>
     <b>QUALIFICATION:</b>MBBS,DCH</figcaption>
</figure></div>
    </div>
    <div id="main_box_1">
      <div><figure>
  <img src="pa_4.jpg" alt="Trulli" style="width:200px;height:160px">
  <figcaption><b>ID :</b>300004<br>
              <b>NAME:</b>REBECCA<br>
            <b>SPECIALIZATION:</b>gynaecologist<br>
           <b>QUALIFICATION:</b>MBBS,MS</figcaption>
</figure></div>
<div><figure>
<img src="pa_5.jfif" alt="Trulli" style="width:200px;height:160px">
<figcaption><b>ID :</b>300005<br>
        <b>NAME:</b>ADAM<br>
      <b>SPECIALIZATION:</b>Dentist<br>
     <b>QUALIFICATION:</b>BDS,MDS</figcaption>
</figure></div>
<div><figure>
<img src="pa_6.jpg" alt="Trulli" style="width:200px;height:160px">
<figcaption><b>ID :</b>300006<br>
        <b>NAME:</b>FELINA<br>
      <b>SPECIALIZATION:</b>orthopedic<br>
     <b>QUALIFICATION:</b>MBBS,MD</figcaption>
</figure></div>
    </div>
    <div id="main_box_1">
      <div><figure>
  <img src="pa_7.jfif" alt="Trulli" style="width:200px;height:160px">
  <figcaption><b>ID :</b>300007<br>
              <b>NAME:</b>RAMASWAMY GANESHAN<br>
            <b>SPECIALIZATION:</b>physician<br>
           <b>QUALIFICATION:</b>MBBS</figcaption>
</figure></div>
<div><figure>
<img src="pa_8.jpg" alt="Trulli" style="width:200px;height:160px">
<figcaption><b>ID :</b>300008<br>
        <b>NAME:</b>KEERTHI SURESH<br>
      <b>SPECIALIZATION:</b>cardialogist<br>
     <b>QUALIFICATION:</b>MBBS,MD,DM</figcaption>
</figure></div>
<div><figure>
<img src="pa_9.jpg" alt="Trulli" style="width:200px;height:160px;">
<figcaption><b>ID :</b>300009<br>
        <b>NAME:</b>JOHN CENA<br>
      <b>SPECIALIZATION:</b>ENT<br>
     <b>QUALIFICATION:</b>MBBS,DLO,MS</figcaption>
</figure></div>
    </div>
  </body>
  </html>
